{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
    <ul>
        {% for student in object_list %}
        <li><b>{{ student.name }}</b> (класс {{ student.group }}) <br> Учителя:
            <ul style="padding-bottom: 30px">
                {% for teacher in student.teacher.all %}
                <li>{{ teacher.name }} (<i>{{ teacher.subject }}</i>)</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
